.ContentHomePage {
    padding: 3.125rem 0rem 1.875rem 0rem;
    background-color: #edeff2;
}
.ContentMain {
    display: flex;
    padding: 0rem 5.625rem;
    flex-direction: column;
    justify-content: center;
    gap: 1.875rem;
}

.ContentTitule {
    display: flex;
    align-items: center;
    gap: 25.5rem;
    align-self: stretch;
}
.ContentTitule h1 {
    color: #4d5e80;
}
.Cuerpo {
    /* border: 4px solid black; */
    display: flex;
    gap: 1.875rem;
    flex-direction: row;
}

.Cartas {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem;
    gap: 2rem;
}

/*------------------*/
.Filtros {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 28%;
    margin: 0.5rem;
}

.TitleFilter {
    border-bottom: 1px;
    margin: 0 auto;
    font-size: 1.5rem;
    padding: 1rem;
    color: #4d5e80;
    width: 100%;
}

/*------------------*/

.filterNombre {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10rem;
    border: solid 1px #c8cfcf;
    border-radius: 0.5rem;
    background-color: #edeff2;
    box-shadow: 0px 5px 24px 0px rgba(117, 120, 139, 0.1);
}

.TitleName {
    color: #6b7a99;
    font-size: 1.4rem;
    text-align: left;
    padding: 1rem;
}

.inputName {
    font-size: 1.2rem;
    margin: 1rem;
    padding: 0.5rem;
    border: solid 0.5px #80808075;
    border-radius: 2px;
    color: rgb(88, 88, 88);
}
.inputName:hover {
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.98);
    border-radius: 3px;
}
/*------------------*/

.filterPrecio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10rem;
    border: solid 1px #c8cfcf;
    border-radius: 0.5rem;
    background-color: #edeff2;
    box-shadow: 0px 5px 24px 0px rgba(117, 120, 139, 0.1);
}

.rango {
    display: flex;
    justify-content: space-between;
}

.RangeExtreme {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.RangeExtreme p {
    font-size: 1.2rem;
    color: rgb(88, 88, 88);
}
.inputPrecio {
    font-size: 1.35rem;
    width: 80%;
    padding: 0.5rem;
    margin-top: 0.4rem;
    margin-bottom: 1rem;
    border: solid 0.5px #80808075;
    border-radius: 0.2rem;
    color: rgb(88, 88, 88);
}

.inputPrecio:hover {
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.98);
    border-radius: 3px;
}
@media (max-width: 800px) {
    .Cuerpo {
        flex-direction: column-reverse;
    }
    .Filtros {
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        margin: 0rem;
        gap: 0.5rem;
        justify-content: center;
    }
    .filterNombre {
        height: auto;
    }
    .filterPrecio {
        height: auto;
    }

    .Cartas {
        width: 100%;
    }
}
